<div class="split left">
    <div class="centered"  id="profile">
      <div class="rounded">
      <img src= "{{ userDatas.imageUrl }}"/>
      <h1>{{ userDatas.googleName }}</h1>
      <p>{{ userDatas.email }}</p>
    </div>
    </div>
  </div>
  
  <div class="split right">
    <div class="splite top">
        <div class="mat-elevation-z8">
          <div *ngIf="teamsIAmLeaderInSize > 0" id="team">
          <h3>{{ 'MyTeams' | translate }}</h3>
          <mat-table [dataSource]="teamsIAmLeaderIn" matSort multiTemplateDataRows>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="company">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Company' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.company}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row; let element">
                      <a style="cursor: pointer;" (click)="onAdd(state.user, element)"><mat-icon>group_add</mat-icon></a>
                      <a style="cursor: pointer;" (click)="deleteTeam(element)"><mat-icon>delete_outline</mat-icon></a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <mat-cell class="example-element-row" *matCellDef="let element" [attr.colspan]="myTeamsDefinition.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="padding-between-columns">
                  <p class="font-weight-bold">{{ 'Leaders' | translate }}</p>
                <div *ngFor="let leader of element.leaders">
                  <div>
                    {{ leader.googleName }}
                    <mat-icon *ngIf="element.leaders.length > 1" (click)="deleteLeader(leader, element)" style="cursor: pointer;" id="red">clear</mat-icon>                   
                  </div>
                </div>
              </div>
                <div *ngIf="element.users.length > 0">
                    <p class="font-weight-bold">{{ 'Members' | translate }}</p>                 
                <div *ngFor="let member of element.users">
                  {{ member.googleName }}
                   <mat-icon (click)="promoteMember(member.googleName, element.name)" style="cursor: pointer;" id="blue">arrow_upward</mat-icon>                 
                    <mat-icon (click)="deleteMember(member, element)" style="cursor: pointer;" id="red">clear</mat-icon>                  
                  </div>
                </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="myTeamsDefinition"></mat-header-row>
            <mat-row *matRowDef="let element; columns: myTeamsDefinition;"
            class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
          </mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
         </div>
         <div *ngIf="teamsIAmLeaderInSize === 0" id="team">
          <h3>{{ 'NoLeader' | translate }}</h3>
        </div>

<!-- KÉÉÉSSSZZZ METÓDUS KELL MÉG -->

        <div *ngIf="teamsIAmMemberInSize > 0" id="team">
          <h3>{{ 'TeamMemberships' | translate }}</h3>
          <mat-table [dataSource]="teamsIAmMemberIn" matSort multiTemplateDataRows>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Name' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="company">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Company' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.company}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <mat-cell class="example-element-row" *matCellDef="let element" [attr.colspan]="teamsDefinition.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="padding-between-columns">
                  <p class="font-weight-bold">{{ 'Leaders' | translate }}</p>
                <div *ngFor="let leader of element.leaders">
                  <div>
                    {{ leader.googleName }}
                  </div>
                </div>
              </div>
                <div *ngIf="element.users.length > 0">
                    <p class="font-weight-bold">{{ 'Members' | translate }}</p>                 
                <div *ngFor="let member of element.users">
                  {{ member.googleName }}                                  
                  </div>
                </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="teamsDefinition"></mat-header-row>
            <mat-row *matRowDef="let element; columns: teamsDefinition;"
            class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
          </mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
         </div>
         <div *ngIf="teamsIAmMemberInSize === 0" id="team">
          <h3>{{ 'NoMember' | translate }}</h3>
        </div>
    </div>



<!-- KÉÉÉSSSSZZ -->


      <div class="splite bottom">
        <div class="mat-elevation-z8">
          <div *ngIf="listCupDataSize > 0" id="cup">
          <h3>{{ 'MyCups' | translate }}</h3>
          <mat-table [dataSource]="listCupData" matSort multiTemplateDataRows>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Name' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="company">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Company' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.company}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="place">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Place' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.place}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="registrationEndDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'RegistrationEndDate' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.registrationEndDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="eventDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EventDate' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.eventDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">                 
              <mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
              <mat-cell *matCellDef="let row; let element">
                <a style="cursor: pointer;" (click)="applyCup(element)"><mat-icon>add_outline</mat-icon></a>
                <a style="cursor: pointer;" (click)="deleteCup(element)"><mat-icon>delete_outline</mat-icon></a>
              </mat-cell>           
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <mat-cell class="example-element-row" *matCellDef="let element" [attr.colspan]="myDisplayedColumns.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                     <div class="padding-between-cup-columns">
                        <p class="font-weight-bold">{{ 'Organizers' | translate }}</p>
                      <div *ngFor="let organizer of element.organizers">                          
                            {{ organizer.googleName }}                              
                      </div>
                       </div>
                      <div class="padding-between-cup-columns">
                        <p class="font-weight-bold">{{ 'ApprovedTeams' | translate }}</p>
                        <div *ngFor="let team of element.approved">
                            {{ team.name }}
                        </div>
                    </div>
                      <div>
                          <p class="font-weight-bold">{{ 'AppliedTeams' | translate }}</p>
                          <div *ngFor="let team of element.teams">
                            {{ team.name }}
                              <mat-icon
                              (click)="approveCup(team, element)"
                              style="cursor: pointer;"
                              id="green">done_outline</mat-icon>
                              <mat-icon
                              (click)="noApproveCup(team, element)"
                              style="cursor: pointer;"
                              id="red">clear</mat-icon>
                        </div>                                    
                      </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="myDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let element; columns: myDisplayedColumns;"
            class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
          </mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
         </div>
         <div *ngIf="listCupDataSize === 0" id="cup">
          <h3>{{ 'NoOrganizer' | translate }}</h3>
        </div>
<!-- KÉÉÉSSZZZZ -->

        <div *ngIf="listCupDataMembershipSize > 0" id="cup">
          <h3>{{ 'CupMembership' | translate }}</h3>
          <mat-table [dataSource]="listCupDataMembership" matSort multiTemplateDataRows>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Name' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="company">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Company' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.company}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="place">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Place' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.place}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="registrationEndDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'RegistrationEndDate' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.registrationEndDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="eventDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EventDate' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.eventDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <mat-cell class="example-element-row" *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                     <div class="padding-between-columns">
                        <p class="font-weight-bold">{{ 'Organizers' | translate }}</p>
                      <div *ngFor="let organizer of element.organizers">                          
                            {{ organizer.googleName }}                              
                      </div>
                       </div>
                      <div class="padding-between-columns">
                        <p class="font-weight-bold">{{ 'ApprovedTeams' | translate }}</p>
                        <div *ngFor="let team of element.approved">
                            {{ team.name }}
                        </div>
                    </div>
                      <div>
                          <p class="font-weight-bold">{{ 'AppliedTeams' | translate }}</p>
                          <div *ngFor="let team of element.teams">
                            {{ team.name }}
                        </div>                                    
                      </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let element; columns: displayedColumns;"
            class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
          </mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="listCupDataMembershipSize === 0"  id="cup">
          <h3>{{ 'NoCupMember' | translate }}</h3>
        </div>

        
      </div>
    </div>
  </div>
