<body>
  <div class="split left">
    <div class="centered">
        <img src= "{{ userDatas.imageUrl }}"/>
      <h2> {{ userDatas.googleName }} </h2>
      <p> e-mail: {{ userDatas.email }}</p>
    </div>
  </div>
  
  <div class="split right">
      <div class="splite top">
          <div class="centered">
              {{ 'Leadership' | translate }}
              <table width="250">
                  <tbody>        
                    <tr>
                      <td width="125">{{ 'TeamName' | translate }}
                      </td>
                      <td width="125">{{ 'CompanyName' | translate }}</td>
                    </tr>
                    <tr *ngFor="let item of teamsIAmLeaderIn"> 
                      <td width="125"><a routerLink="../team">{{ item.name }}
                      </a></td>
                      <td> {{ item.company }}</td>
                      
                    </tr>
                  </tbody>
                </table>
                {{ 'Member' | translate }}
              <table width="250">
                  <tbody>        
                    <tr>
                      <td width="125">{{ 'TeamName' | translate }}</td>
                      <td>{{ 'CompanyName' | translate }}</td>
                    </tr>
                    <tr *ngFor="let item of teamsIAmMemberIn"> 
                      <td ><a routerLink="../team">{{ item.name }}</a></td>
                      <td> {{ item.company }}</td>
                      
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
        
        <div class="splite bottom">
            <div class="centered">
                  <h2>CUP</h2>
                  <p>Jobb alsó</p>
                </div>
        </div>
    
  </div>
  
 
</body>