body { 
  padding-top: 65px; 
}

/* Split the screen in half left and right */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Split the screen in half top and bottom*/
.splite {
  height: 49%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the top side */

/* Control the bottom side */
.bottom {
  bottom: 0;
  /*background-color: red;*/
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 50%;
  border-radius: 50%
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  margin-top: 75px;
}

/* Control the right side */
.right {
  right: 0;
  /*background-color: red;*/
}

table td{
  border: 3px solid black;
}

table {
  border-collapse: collapse;
  
}

a {
  text-decoration: none;
  color: black;
}

.background {
  background-color: #FFEB7F;
}

#cup {
  background-color: #FFEB7F;
  opacity: 0.8;
  text-align: center;
  text-shadow: #FFEB7F;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Luckiest Guy', cursive;
  font-weight: bold;
}

h3 {
  font-size: 200%;
  font-stretch: extra-expanded;
  font-weight: 300;
}

#team {
  background-color: lightcoral;
  opacity: 0.8;
  text-align: center;
  text-shadow: lightcoral;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Luckiest Guy', cursive;
  font-weight: bold;
}

#profile {
  width: 65%;
  height: 65%;
  transition: width 2s;
  font-family: 'Luckiest Guy', cursive;
  font-size: 200%;
  color: white;
}

#profile:hover {
  width: 90%;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

table {
  width: 100%;
} 

mat-row.example-detail-row {
  height: fit-content;
}

mat-row.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

mat-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.disabled {
  visibility: hidden;
}

.padding-between-columns {
  padding-right: 200px;
}

.padding-between-cup-columns {
  padding-right: 100px;
}