<body>
  <div class="split left">
    <div class="centered">
        <img src= "{{ userDatas.imageUrl }}"/>
      <h2> {{ userDatas.googleName }} </h2>
      <p> e-mail: {{ userDatas.email }}</p>
    </div>
  </div>
  
  <div class="split right">
      <div class="splite top">
          <div class="centered">
            <h5>Leadership:</h5>
            <p *ngFor="let i of teamsIAmLeaderIn">{{i.name}} {{i.company}}</p>
            <h5>Membership:</h5>
            <p *ngFor="let i of teamsIAmMemberIn">{{i.name}} {{i.company}}</p>
          </div>
        </div>
        
        <div class="splite bottom">
            <div class="centered">
                  <h2>CUP</h2>
                  <p>Jobb alsó</p>
                </div>
        </div>
    
  </div>
  
 
</body>