<body background="./assets/pictures/baseballgb.jpg">
  <div *ngIf="state.user != null">
    <input type="text" name="cupNameToDelete" [(ngModel)]="cupNameToDelete">
    <a type="button" class="btn btn-primary createButton" (click)="onDeleteCup()">
      {{ "DeleteCup" | translate }}
    </a>
  </div>
  <div class="row margin-top padding-text-bottom">
      <div class="col-sm-6 rounded background paddig-text-top">
        <h1>{{ "Cups" | translate }}</h1>
        <!-- table -->
        <div class="search-div">
            <div *ngIf="state.user != null">
          <button mat-raised-button (click)="onCreateCup()"><mat-icon>add</mat-icon>{{ "CreateCup" | translate }}</button>
          </div>
            <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="searchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8 padding-bottom-50">
          <mat-table [dataSource]="listData" matSort>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Name" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="company">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Company" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.company}}</mat-cell>
            </ng-container>

              <ng-container matColumnDef="place">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Place" | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.place}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="registrationEndDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "RegistrationEndDate" | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.registrationEndDate}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="eventDate">
                
                
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "EventDate" | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.eventDate}}</mat-cell> 
              </ng-container>

              <ng-container matColumnDef="actionsa">
                <mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
                <mat-cell *matCellDef="let row; let element">
                  <div *ngFor="let leader of element.organizers">
                    <div *ngIf="leader.googleName == state.user.googleName">
                        <a style="cursor: pointer;" (click)="onAdd(element)"><mat-icon>add_outline</mat-icon></a>
                        <a style="cursor: pointer;" (click)="deleteCup(element)"><mat-icon>delete_outline</mat-icon></a>
                    </div>
                  </div>
                </mat-cell>
              </ng-container>

            <ng-container matColumnDef="actions">
                <!--<div *ngFor="let team of teamList"> 
                    <div *ngFor="let leader of team.leaders"> -->
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                
                <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
              
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  
        </div>
        <div id="snackbar"> {{ "SuccesfullyCreatedCup" | translate }}</div>
    </div>
    
