<body background="./assets/pictures/baseballgb.jpg">
  <div>
    <a type="button" class="btn btn-primary createButton">
      {{ "CreateTeam" | translate: user }}
    </a>
  </div>
  <div class="col-sm-6 rounded background margin-top">
    <h3>{{ "SearchTeam" | translate: user }}</h3>
    <h4>{{ "TeamName" | translate: user }}</h4>
    <input type="text" name="teamName" [(ngModel)]="teamName" />
    <a
      type="button"
      class="btn btn-outline-primary createButton"
      (click)="getByTeamName()"
    >
      {{ "Search" | translate: user }}
    </a>
  </div>
  <div class="col-sm-6 rounded background margin-top">
    <div class="col-sm-6 rounded background margin-top">
      <h5 *ngIf="isSearchPressed">leaders:</h5>
      <div *ngFor="let i of team.leaders">
        {{ i.googleName }}
        <div *ngIf="isLeader && team.leaders.length > 1">
          <img
            src="../../../assets/pictures/deleteX.png"
            alt="delete"
            class="xbuttons"
            (click)="deleteLeader(i.googleName, team.name)"
            style="cursor: pointer;"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-6 rounded background margin-top">
      <h5 *ngIf="isSearchPressed">members:</h5>
      <div *ngIf="isSearchPressed">
        <h6 *ngIf="team.members.length == 0">
          Here are no members in this team
        </h6>
      </div>
      <div *ngFor="let i of team.members">
        {{ i.googleName }}
        <div *ngIf="isLeader && state.user.googleName != i.googleName">
          <img
            src="../../../assets/pictures/promoteMember.png"
            alt="promote"
            class="xbuttons"
            (click)="promoteMember(i.googleName, team.name, team)"
            style="cursor: pointer;"
          />
          <img
            src="../../../assets/pictures/deleteX.png"
            alt="delete"
            class="xbuttons"
            (click)="deleteMember(i.googleName, team.name)"
            style="cursor: pointer;"
          />
        </div>
      </div>
    </div>
    <div *ngIf="isLeader">
        <a type="button" class="btn btn-primary createButton" (click)="deleteTeam(team.name)">
            {{ "Delete" | translate: user }}
        </a>
        <a type="button" class="btn btn-primary createButton" (click)="deleteTeam(team.name)">
            {{ "Add" | translate: user }}
        </a>
    </div>
  </div>

  <br />
  {{ "CreatTeam" | translate: user }}Create: <br />
  {{ "TeamName" | translate: user }}
  <input type="text" name="creatTeamName" [(ngModel)]="creatTeamName" />
  {{ "CompanyName" | translate: user }}
  <input type="text" name="creatCompanyName" [(ngModel)]="creatCompanyName" />
  <button (click)="create()">{{ "Submit" | translate: user }}</button>

  <br />
  {{ "AddMember" | translate: user }} <br />
  {{ "MemberName" | translate: user }}
  <input type="text" name="addMember" [(ngModel)]="addMember" />
  {{ "TeamName" | translate: user }}
  <input type="text" name="teamName" [(ngModel)]="teamNametoAdd" />
  <button (click)="putMemberInTeam()">{{ "Add" | translate: user }}</button>
  <br />
