body { 
  padding-top: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed
}

.background {
  background-color: #FFEB7F;
}

.margin-top {
  margin-top: 30px;
  margin-left: 30px
}

.createButton {
  width: 100px;
  margin-left: 30px

}

.xbuttons {
  height: 10%;
  width: 10%;
}

.paddig-text-top {
  padding-top: 10px;
}

.padding-text-bottom {
  padding-bottom: 10px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}






table {
  width: 100%;
} 

mat-row.example-detail-row {
  height: 0;
}

mat-row.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

mat-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* .mat-row {
  height: auto;
}

.mat-cell {
  padding: 100px 140px 20px 0;
} */

.disabled {
  visibility: hidden;
}