<body>
  {{ 'SearchTeam' | translate:user }} <br>
  {{ 'TeamName' | translate:user }}<input type="text" name="teamName" [(ngModel)]="teamName">
   <button (click)="getByTeamName()"> {{ 'Search' | translate:user }}</button> <br>
 
   <br>
   Create: <br>
   {{ 'TeamName' | translate:user }}
   <input type="text" name="creatTeamName" [(ngModel)]="creatTeamName">
   {{ 'CompanyName' | translate:user }}
   <input type="text" name="creatCompanyName" [(ngModel)]="creatCompanyName">
   <button (click)="create()"> {{ 'Submit' | translate:user }}</button>

   <br>
   Add member: <br>
   {{ 'MemberName' | translate:user }}
   <input type="text" name="addMember" [(ngModel)]="addMember">
   {{ 'TeamName' | translate:user }}
   <input type="text" name="teamName" [(ngModel)]="teamNametoAdd">
   <button (click)="putMemberInTeam()"> {{ 'Add' | translate:user }}</button>

   
  </body>