.bgColor {
  background-color: #FFEB7F
}

ul {
  line-height:20%
}

.contact-size{
  font-size: 100%
}

.contact-text-size{
  font-size: 100%
}

.copyright-size{
  font-size: 70%
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */