<footer class="page-footer font-small teal pt-1 text-center bgColor">
        <ul class="list-unstyled">
          <li>
            <h5 class="text-uppercase font-weight-bold contact-size">{{ 'Contact'  | translate }}</h5>
          </li>
          <li>
            <p class="contact-text-size">
              {{ 'ContactTelephone' | translate }} 06 30 3333-222
            </p>
          </li>
          <li>
            <p class="contact-text-size">
              {{ 'ContactEmail' | translate }} epsilon@epsilon.com
            </p>
          </li>
        </ul>
  <div class="footer-copyright text-center py-1 copyright-size">© 2019 Copyright:
    <p>CatSelon</p>
  </div>
</footer>