<footer class="page-footer font-small teal pt-1 text-center bgColor">
        <ul class="list-unstyled">
          <li>
            <h5 class="text-uppercase font-weight-bold">{{ 'Contact'|translate:user }}</h5>
          </li>
          <li>
            <p>
              {{ 'ContactTelephone' | translate:user }} 06 30 3333-222
            </p>
          </li>
          <li>
            <p>
              {{ 'ContactEmail' | translate:user }} epsilon@epsilon.com
            </p>
          </li>
        </ul>
  <div class="footer-copyright text-center py-1">© 2019 Copyright:
    <p>CatSelon</p>
  </div>
</footer>