<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="./assets/pictures/cup.png" style="cursor: pointer;" class="cup-size"/>
      Sport Event Organizer
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar = !toggleNavbar"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="toggleNavbar">
      
      <ul class="navbar-nav ml-auto">
          
        <li class="nav-item active" id="myCustomNavbar">
          <a class="nav-link" routerLink=""
            >{{ 'Home' | translate:user }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active" id="myCustomNavbar">
          <a class="nav-link" href=""
            >{{ 'Teams' | translate:user }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active" id="myCustomNavbar">
          <a class="nav-link" href=""
            >{{ 'Cups' | translate:user }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
      
        <li class="nav-item">
          <img
            class="languageFlag nav-link"
            style="cursor: pointer;"
            src="./assets/pictures/flagGreatBritain.svg"
            alt="EN"
            (click)="switchLanguage('en')"
          />
        </li>
        <li class="nav-item">
          <img
            class="languageFlag nav-link"
            style="cursor: pointer;"
            src="./assets/pictures/flagHungary.png"
            alt="HU"
            (click)="switchLanguage('hu')"
          />
        </li>
        <li class="nav-item" *ngIf="!(state.user$ | async)">
            <a type="button" class="btn btn-outline-primary button-size" href="http://localhost:8080/oauth2/authorize/google?redirect_uri=http://localhost:4200/oauth2/redirect">
            {{ 'Login' | translate:user }}
            </a>
        </li>
        <li class="nav-item" *ngIf="state.user$ | async">
          <a type="button" class="btn btn-outline-primary button-size" href="http://localhost:8080/oauth2/authorize/google?redirect_uri=http://localhost:4200/oauth2/redirect">
          {{ 'LoginOut' | translate:user }}
          </a>
      </li>
      <button (click)="klikk()"></button>
      </ul>
      
    </div>
  </div>
</nav>
