<body background="./assets/pictures/sportbackground.jpg">
<div class="text-center" >     
      <div class="text-center" id="welcome-size"> 
        <h3>
          <p class="font-italic font-weight-bold">Welcome to Sport Event Organizer!</p>
        </h3>
        <img src="./assets/pictures/cup.png" id="cup-size"/>
      </div>
    <div class="row">
      <div class="col-sm-4">
        <p>Cups</p>
        <p>
          Organize cups or join to one <br>
          to earn the gold medal! 
        </p>
      </div>
      <div class="col-sm-4">
          <p>Cups</p>
          <p>
              Organize cups or join to one <br>
              to earn the gold medal! 
            </p>
        </div>
        <div class="col-sm-4">
            <p>Cups</p>
            <p>
                Organize cups or join to one <br>
                to earn the gold medal! 
              </p>
          </div>
    </div>
</div>
</body>