<body background="./assets/pictures/ballsBg.jpg">
<div>     
      <div class="text-center uk-flex-center" id="welcome-size"> 
        <h3>
          <p class="font-weight-bold" id="title-size">{{ 'Welcome' | translate }}</p>
        </h3>
        <img src="./assets/pictures/cup-icon.png" id="cup-size"/>
      </div>
    <div class="row texts uk-flex-wrap-space-between rounded">
      <div class="col-sm-4" >
        <p class="font-weight-bold titles-font">{{ 'Cups' | translate }}</p>
        <p class="texts-font">
          {{ 'CupsText' | translate }}
        </p>
      </div>
      <div class="col-sm-4">
          <p class="font-weight-bold titles-font">{{ 'Teams' | translate }}</p>
          <p class="texts-font">
              {{ 'TeamsText' | translate }}
            </p>
        </div>
        <div class="col-sm-4">
            <p class="font-weight-bold titles-font">Cups</p>
            <p class="texts-font">
                Organize cups or join to one <br>
                to earn the gold medal! 
              </p>
          </div>
    </div>
</div>
</body>