<h1 mat-dialog-title>{{ "CreatCup" | translate }}</h1>
<div mat-dialog-content>
  <p>{{ "CompanyName" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="companyNameToCreate">
  </mat-form-field>
  <p>{{ "CourtCounter" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="courtCounter">
  </mat-form-field>
  <p>{{ "Description" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
</div>
<p>{{ "EndDateTime" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="endDateTime"  [matDatepicker]="myDatepickeree">
    <mat-datepicker-toggle matSuffix [for]="myDatepickeree"></mat-datepicker-toggle>
    <mat-datepicker #myDatepickeree></mat-datepicker>
  </mat-form-field>
  <p>{{ "CupName" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="cupNametoCreate">
  </mat-form-field>
  <p>{{ "Place" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="place">
  </mat-form-field>
  <p>{{ "RegistrationEndTime" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="registrationEndTime" [matDatepicker]="myDatepickere">
    <mat-datepicker-toggle matSuffix [for]="myDatepickere"></mat-datepicker-toggle>
    <mat-datepicker #myDatepickere></mat-datepicker>
  </mat-form-field>
  <p>{{ "startDateTime" | translate }}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="startDateTime" [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="createCup()">{{ "Submit" | translate }}</button>
  <button mat-button (click)="exit()" cdkFocusInitial>{{ "Cancel" | translate }}</button>
</div>