  <div class="row">
  <div class="col-sm-6">
  <h1 mat-dialog-title>{{ "AddMember" | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ "MemberName" | translate }}</p>
    <mat-form-field>
      <input matInput [(ngModel)]="memberNameToAdd">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="add()">{{ "Add" | translate }}</button>
    <button mat-button (click)="exit()" cdkFocusInitial>{{ "Cancel" | translate }}</button>
  </div>
</div>
<div class="col-sm-6">
  <h1 mat-dialog-title>{{ "AddGuest" | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ "GuestName" | translate }}</p>
    <mat-form-field>
      <input matInput [(ngModel)]="guestNameToAdd">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="add()">{{ "Add" | translate }}</button>
    <button mat-button (click)="exit()" cdkFocusInitial>{{ "Cancel" | translate }}</button>
  </div>
</div>
</div>