  <div class="row">
  <div class="col-sm-6">
  <h1 mat-dialog-title>{{ "AddMember" | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ "MemberName" | translate }}</p>
    <mat-form-field>
      <input matInput [(ngModel)]="memberNameToAdd" (keydown.enter)="add()">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [disabled]="!memberNameToAdd" (click)="add()">{{ "Add" | translate }}</button>
    <button mat-button (click)="exit()" cdkFocusInitial>{{ "Cancel" | translate }}</button>
  </div>
</div>
<div class="col-sm-6">
  <h1 mat-dialog-title>{{ "AddGuest" | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ "GuestName" | translate }}</p>
    <mat-form-field>
      <input matInput [(ngModel)]="guestNameToAdd" (keydown.enter)="addGuest()">
    </mat-form-field>
    <p>Email</p>
    <mat-form-field>
      <input matInput type="email" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
      required [(ngModel)]="guestEmailToAdd" #inputrefname="ngModel" (keydown.enter)="addGuest()">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="addGuest()" [disabled]="!guestNameToAdd || !guestEmailToAdd">{{ "Add" | translate }}</button>
    <button mat-button (click)="exit()" cdkFocusInitial>{{ "Cancel" | translate }}</button>
  </div>
</div>
</div>